<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>Asijská restaurace :: {include title}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/web.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/scrollbar.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src='{$basePath}/js/scrollbar.jquery.js'></script>
	
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}" onclick="closeFlash(this);">{$flash->message}</div>
	
	<div id="wrapper">
		<div id="header">
			<div class="heading">
					<h2>Asijská restaurace</h2>
				
				<div class="userInfo">
					<a n:href="User:settings" class="noUnderline">{$userEntity->name}</a>
					<br />
					<a n:href="logout!">Odhlásit se</a>
				</div>
			</div>
			
			{if !empty($actualBuildingPlans)}
			<div id="buildingPlansBox">
				{foreach $actualBuildingPlans as $actualBuildingPlan}
				<div class="item">
					<table>
						<tr>
							<th>Stavba:</th>
							<td>{$actualBuildingPlan->building->key|buildingToString} ({$actualBuildingPlan->building->level})</td>
						</tr>
						<tr>
							<th>Konec:</th>
							<td>
								{$actualBuildingPlan->to->format("d.m.Y")}
								({$actualBuildingPlan->to|dayNameOfDate|lower})
								</td>
						</tr>
						<tr>
							<th>Cena:</th>
							<td>{$actualBuildingPlan->building->getPrice()|number: 0: "": "."} <img src="{$basePath}/images/gold.gif" /></td>
						</tr>
						<tr>
							<th></th>
							<td>
								{if $actualBuildingPlan->optional}
									<span class="optional">Dobrovolná</span>
								{else}
									<span class="required">Povinná</span>
								{/if}
							</td>
						</tr>
						<tr>
							<th></th>
							<td><a n:href="BuildingPlan:detail $actualBuildingPlan->id">Přečíst více ... »</a></td>
						</tr>
					</table>
				</div>
				{/foreach}
			</div>
			{/if}

			<div id="menu">
				<a n:href="Homepage:default">Hlavní</a>
				
				{if $userEntity->canView("rules")}
					<a n:href="Rules:default">Pravidla</a>
				{/if}
				{if $userEntity->canView("aboutMembers")}
					<a n:href="Members:about">O členech</a>
				{/if}
				{if $userEntity->canView("hints")}
					<a n:href="Hints:default">Tipy a triky ke hře</a>
				{/if}
				{if $userEntity->canView("buildingPlans")}
					<a n:href="BuildingPlan:default">Plány staveb</a>
				{/if}
				{if $userEntity->canView("votings")}
					<a n:href="Voting:default">Seznam hlasování</a>
					<a n:href="Voting:create">Vytvořit hlasování</a>
				{/if}
				{if $userEntity->canView("itemOffers")}
					<a n:href="ItemOffers:default">Nabídky předmětů</a>
				{/if}
				{if $userEntity->canView("absences")}
					<a n:href="Absence:default">Absence</a>
				{/if}
				
				{if $userEntity->isAdmin()}
					<a n:href="Admin:usersList">Seznam uživatelů</a>
					<a n:href="Admin:addUser">Přidat uživatele</a>
					
					<a n:href="BuildingPlan:create">Vytvořit plán stavby</a>
				{/if}
				
				{if $userEntity->canView("notifications")}
					<a n:href="Notification:default">Oznámení</a>
				{/if}
				
				{if $userEntity->canView("contact")}
					<a n:href="Contact:default">Kontakt</a>
				{/if}
			</div>
		</div>
		<div id="content">
			<div id="notifications" class="default-skin">
				{foreach $notifications as $notification}				
					<div class="notificationUnread" id="notification{$notification->id}">
						<div class="notificationHead">
							<span class="author">{$notification->user->name}</span>
							<span class="date">{$notification->date|date: "d.m.Y - H:i"} &nbsp;&nbsp; <a n:href="hideNotification! $notification->id" onclick="return hideNotification(this, {$notification->id});">X</a></span>
						</div>
						<div class="notificationBody">
							{!$notification->content|escape|nl2br}
							
							{if $userEntity->isAdmin()}
								<br />
								<a n:href="deleteNotification! $notification->id">smazat</a>
							{/if}
						</div>
					</div>
				{/foreach}
			</div>
			
			{include content}
		</div>

		<div id="footer">
			<div class="text">
				&copy; 2015 Asijská restaurace, Gladiatus server 23 | <a href="http://s23.cz.gladiatus.gameforge.com/game/index.php?mod=guild&submod=forumGladiatorius&i=599" target="_blank">Přehled gildy</a>
			</div>
		</div>
	</div>

	{block scripts}
	
	<script type="text/javascript">

	function hideNotification(link, id)
	{
		$.ajax({
			method: "GET",
			url: link.href,
			success: function(r) {
				$("#notification" + id).hide();
				$("#notifications").customScrollbar("resize", true);
			}
		});
		
		return false;
	}
	
	
	$(window).load(function() {
		$("#notifications").customScrollbar();
	});
	
	</script>
	
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/wz_tooltip.js"></script>
	<script src="{$basePath}/js/tip_centerwindow.js"></script>
	<script src="{$basePath}/js/tip_followscroll.js"></script>
	{/block}
</body>
</html>