{block title}Absence{/block}

{block content}
	<h2>Přidat absenci</h2>
	{control addForm}
	
	<br />
	V datech nezadávejte čas, formát den.měsíc.rok (např. 10.5.2015).<br />
	Pokud nechcete sdělit důvod, stačí napsat např. osobní důvody.
	
	{if $userEntity->isAdmin()}
		<h3>Absence uživatelů</h3>
		
		{if count($usersAbsences) > 0}
			{foreach $usersAbsences as $absence}
				<div class="absenceBox{if $absence->expired()} absenceExpired{/if}">	
					{$absence->from|date:"d.m.Y"} - {$absence->to|date:"d.m.Y"} | {$absence->user->name}<br />
					{$absence->reason}
					
					<br />
					<a n:href="deleteAbsence! $absence->id">Smazat</a>
				</div>
			{/foreach}
		{else}
			Uživatelé nemají žádné absence.
		{/if}
	{/if}
	
	<h3>Absence</h3>
	{if count($absences) > 0}
		{foreach $absences as $absence}
			<div class="absenceBox{if $absence->expired()} absenceExpired{/if}">
				{$absence->from|date:"d.m.Y"} - {$absence->to|date:"d.m.Y"}<br />
				{$absence->reason}
				
				<br />
				<a n:href="deleteAbsence! $absence->id">Smazat</a>
			</div>
		{/foreach}
	{else}
		Nemáte žádné uložené absence.
	{/if}
{/block}