{block title}Hlavní stránka{/block}

{block content}

<h1>Hlavní stránka</h1>

<h3>Osobní údaje</h3>

<b>Přihlašovací jméno:</b> {$userEntity->name}<br />
<b>E-mail: </b> {if $userEntity->email !== NULL} {$userEntity->email} {else} nevyplněn {/if}<br />
<b>Oprávnění:</b>
{if $userEntity->isRoot()}
	Root
{elseif $userEntity->isAdmin()}
	Admin
{else}
	Uživatel
{/if}

{if $userEntity->canView("votings")}
	{if count($notVotedThemes)}
		<h3>Hlasování, kterého ses nezúčastnil</h3>
		
		{foreach $notVotedThemes as $theme}
			{$theme->dateCreated|date: "j.n.Y H:i"}: <a n:href="Voting:detail $theme->id">{$theme->title}</a><br />
		{/foreach}
	{/if}
{/if}

<h3>Aktuální nabídky předmětů</h3>

{if count($latestItemOffers)}
	<span class="hint">Poznámka: Pro zobrazení náhledu předmětu klikni na název předmětu.</span><br />
	<span class="hint">Poznámka: U předmětů se ti automaticky zobrazují procentuální hodnoty atributů dle tvého účtu na Gladiatus</span>
	
	<table class="info" style="margin-top:20px;">
		<tr>
			<th>Uživatel</th>
			<th>Předmět</th>
			<th>Datum</th>
		</tr>
		{foreach $latestItemOffers as $offer}
			<tr>
				<td><a n:href="ItemOffers:user $offer->user->id">{$offer->user->name}</a></td>
				<td style="text-align:center;">
					<span onclick="showTooltip({$offer->id})">
						{$offer->getFullItemName()}
						
							{if $offer->canUserSeeItemOnMarket($userEntity)}
								({$offer->getItemAttributes()->level})
							{else}
								<span class="levelTooHigh">({$offer->getItemAttributes()->level})</span>
							{/if}
						</span>
					<div id="tooltip_{$offer->id}" class="tooltipOverviewDiv">
						{$offer|itemOfferTooltip:$userEntity}
					</div>
				</td>
				<td>{$offer->dateAdded|date: "%d.%m.%Y - %H:%M:%S"}</td>
			</tr>
		{/foreach}
	</table>
{else}
	Nejsou aktuální žádné nabídky.
{/if}

<script type="text/javascript">

function showTooltip(id)
{
	$("#tooltip_" + id).toggle();
}

</script>

{/block}
