{block title}Nepřihlášen{/block}

{block content}

<div id="header">
	<h1>Asijská restaurace</h1>
	<h2>Stránky gildy na serveru 23</h2>
</div>

<div id="unloggedContent">
	<div id="loginBox">
		<h2>Přihlásit se</h2>
		
		{control loginForm}
	</div>

	<div style="margin-top:100px;">
		<h3>Hráči z [x_X_x] a [FaAg] nabízí</h3>

		{if count($itemOffers)}
			<span class="hint">Poznámka: Pro zobrazení náhledu předmětu klikni na název předmětu.</span><br />
			
			<table class="info" style="margin-top:20px;">
				<tr>
					<th>Uživatel</th>
					<th>Předmět</th>
					<th>Datum</th>
				</tr>
				{foreach $itemOffers as $offer}
					<tr>
						<td>
							{if !empty($offer->user->gladiatusId)}
								<a href="http://s23.cz.gladiatus.gameforge.com/game/index.php?mod=player&p={$offer->user->gladiatusId}" target="_blank">{$offer->user->name}</a>
							{else}
								{$offer->user->name}
							{/if}
						</td>
						<td style="text-align:center;">
							<span onclick="showTooltip({$offer->id})">{$offer->getFullItemName()} ({$offer->getItemAttributes()->level})</span>
							<div id="tooltip_{$offer->id}" class="tooltipOverviewDiv">
								{$offer|itemOfferTooltip}
							</div>
						</td>
						<td>{$offer->dateAdded|date: "%d.%m.%Y - %H:%M:%S"}</td>
					</tr>
				{/foreach}
			</table>
		{else}
			Nejsou aktuální žádné nabídky.
		{/if}
	</div>
</div>

<script type="text/javascript">

function showTooltip(id)
{
	$("#tooltip_" + id).toggle();
}

</script>

{/block}