{block title}Oznámení{/block}

{block content}

<h1>Oznámení</h1>

{if $userEntity->isAdmin()}
	<a n:href="Notification:add">Přidat oznámení</a>
{/if}

<h3>Přehled</h3>

{if count($allNotifications)}
	{foreach $allNotifications as $notification}
		<div class="notification">
			<div class="notificationHead">
				<span class="author">{$notification->user->name}</span>
				<span class="date">{$notification->date|date: "d.m.Y - H:i"}</span>
			</div>
			<div class="notificationBody">
				{!$notification->content|escape|nl2br}
							
				{if $userEntity->isAdmin()}
					<br />
					<a n:href="deleteNotification! $notification->id">smazat</a>
				{/if}
			</div>
		</div>
	{/foreach}
{else}
	Nejsou žádná oznámení
{/if}

{/block}