{block title}Nabídka předmětů{/block}

{block content}

<h1>Nabídky předmětů</h1>

<a n:href="ItemOffers:offer">Nabídnout předmět</a>

<h2>Nabídky</h2>

<table class="info">
	<tr>
		<th>Uživatel</th>
		<th>Počet nabídek</th>
	</tr>
	{foreach $users as $row}
		{var $user = $row[0]}

		<tr>
			<td>
				<a n:href="ItemOffers:user $user->id">{$user->name}</a>
			</td>
			<td>
				{$row["offersCount"]}
			</td>
		</tr>
	{/foreach}
</table>

{/block}
