{block title}Nabídnout předmět{/block}

{block content}

<h1>Nabídnout předmět</h1>

<a n:href="ItemOffers:default">« Nabídky předmětů</a>

<br /><br />

{form offerItemForm}
	<ul class="errors" n:if="$form->hasErrors()">
		<li n:foreach="$form->errors as $error">{$error}</li>
	</ul>
	<table>
		<tr>
			<th>{label prefix /}</th>
			<td>{input prefix}</td>
		</tr>
		<tr>
			<th>{label itemName /}</th>
			<td>{input itemName}</td>
		</tr>
		<tr>
			<th>{label suffix /}</th>
			<td>{input suffix}</td>
		</tr>
		<tr>
			<th>Poškození</th>
			<td>{input minDamage} - {input maxDamage}</td>
		</tr>
		<tr>
			<th>{label armour /}</th>
			<td>{input armour}</td>
		</tr>
		<tr>
			<th>{label improvementType /}</th>
			<td>{input improvementType} + {input improvementValue}</td>
		</tr>
		<tr>
			<th>{label quality /}</th>
			<td>{input quality}</td>
		</tr>
		<tr>
			<th>{label price /}</th>
			<td>{input price}</td>
		</tr>
		<tr>
			<th></th>
			<td>{input createOffer}</td>
		</tr>
	</table>
{/form}

<br /><br />

Pokud se jedná o poškození - zbraň / zbroj - brnění bez základní úrovně (tj. obsahují i prefix / suffix), pak jsou hodnoty počítány dle neznámého vzorce, proto je nutné je zadávat ručně.<br />
Př. pokud zadáte "Krátký meč", vytvoří se tooltip se správnými hodnotami. Pokud ale zadáte "Krátký meč bolesti", pak musíte ručně zadat poškození (ostatní atributy se dopočítají správně).

{/block}