{block title}Nabídka předmětů{/block}

{block content}

<h1>Nabídky předmětů</h1>

<a n:href="ItemOffers:default">« Nabídky předmětů</a>

{if $searchedUser !== NULL}
	<h2>{$searchedUser->name}</h2>

	<span class="hint">Poznámka: U předmětů se ti automaticky zobrazují procentuální hodnoty atributů dle tvého účtu na Gladiatus</span>
	<br /><br />
	
	{if !$searchedUser->itemOffers->isEmpty()}
		{foreach $searchedUser->itemOffers as $offer}
			{$offer|itemOfferTooltip:$userEntity}
			
			{if $offer->user === $userEntity}
				<a n:href="ItemOffers:edit $offer->id">Upravit</a>
				<a n:href="deleteOffer! $offer->id">Smazat</a>
				<br /><br />
			{/if}
		{/foreach}
	{else}
		{if $searchedUser === $userEntity}
			Nemáš žádné nabídky.
		{else}
			Uživatel nemá žádné nabídky.
		{/if}
	{/if}
{else}
	Tento uživatel neexistuje
{/if}

{/block}
