{block title}Vytvořit hlasování{/block}

{block content}

<h1>Vytvořit hlasování</h1>

{form createVotingForm}
	<ul class="errors" n:if="$form->hasErrors()">
		<li n:foreach="$form->errors as $error">{$error}</li>
	</ul>
	
	<table>
		<tr>
			<th>{label title /}</th>
			<td>{input title}</td>
		</tr>
		<tr>
			<th>{label dateEnd /}</th>
			<td>{input dateEnd}</td>
		</tr>
		<tr>
			<th>{label content /}</th>
			<td>{input content}</td>
		</tr>
		<tr>
			<th>Odpovědi:</th>
			<td>
				<div id="answersArea">
					1. <input type="text" name="answers[]" size="20" /><br />
				</div>
				
				<a href="javascript:addAnswer()">Přidat odpověď</a>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<br />
				{input createVoting}
			</td>
		</tr>
	</table>
{/form}


<script type="text/javascript">

var answersCount = 1;

function addAnswer()
{
	var area = document.getElementById("answersArea");
	var span = document.createElement("span");
	var input = document.createElement("input");
	input.type = "text";
	input.name = "answers[]";
	input.size = 20;
	
	answersCount++;
	
	var text = answersCount + ". " + input.outerHTML + " <br />";
	span.innerHTML = text;
	area.appendChild(span);
}

</script>

{/block}
