{block title}Seznam hlasování{/block}

{block content}

<h1>Seznam hlasování</h1>

{if count($themes)}
	<table class="info" style="margin: 0 auto;">
		<tr>
			<th style="width:200px;">Vytvořeno</th>
			<th style="width:200px;">Téma</th>
			<th style="width:200px;">Autor</th>
		</tr>
	{foreach $themes as $theme}
		<tr>
			<td>
				{$theme->dateCreated|date: "d.m.Y - H:i"}
			</td>
			<td>
				<a n:href="Voting:detail $theme->id"> {$theme->title}</a>
			</td>
			<td>
				{$theme->user->name}
			</td>
		</tr>
	{/foreach}
	</table>
{else}
	Nejsou vytvořena žádná hlasování.
{/if}

{/block}
