{block title}Hlasování{/block}

{block content}

<h1>Hlasování</h1>

{if $theme !== NULL}
	<h3>Téma: {$theme->title}</h3>
	
	{if $theme->expired()}
		<i>Hlasování již skončilo</i>
		
		<br /><br />
	{else}
		Hlasování skončí {$theme->dateEnd|date: "j.n.Y H:i:s"}
		
		<br /><br />
	{/if}
	
	{!$theme->content|escape|nl2br}
	<br /><br />
	
	<div style="position:relative;">
	
		{control voteForm}
		
		<div class="votesList">
			{if !empty($usersVotes)}
				<table class="info smallPadding">
					<tr>
						<th width="200">Hráč</th>
						<th width="200">Odpověď</th>
					</tr>
					{foreach $usersVotes as $vote}
						<tr{if $vote->user === $userEntity} class="rowHighlight"{/if}>
							<td>{$vote->user->name}</td>
							<td>{$vote->answer->content}</td>
						</tr>
					{/foreach}
				</table>
			{/if}
		</div>
	</div>
	
	{if $userEntity->isAdmin() || $theme->user === $userEntity}
		<br /><br />
		
		<a n:href="deleteTheme! $theme->id">Smazat</a>
	{/if}
	
	<h3>Komentáře</h3>
	{control addCommentForm}
	
	<br />
	{if count($theme->comments)}
		{foreach $theme->comments as $comment}
			<div class="votingComment">
				<b>{$comment->user->name}</b> &nbsp;&nbsp; ({$comment->date|date: "j.n.Y v H:i:s"})<br />
				{!$comment->content|escape|nl2br}
			</div>
		{/foreach}
	{else}
		Nejsou uložené žádné komentáře
	{/if}
{else}
	Takové hlasování neexistuje
{/if}

{/block}
