{block title}O členech{/block}

{block content}

<h1>O členech</h1>

{foreach $users as $userDb}	
	{if $userDb->description->content !== NULL}
		<h3>{$userDb->name}</h3>
		{!$userDb->description->content|nl2br}
	{/if}
{/foreach}

{/block}
