{block title}Úprava uživatele{/block}

{block content}

<h1>Úprava uživatele</h1>

{if $searchedUser !== NULL}
	{if !$searchedUser->isRoot()}
		{control editUserForm}
		
		<br />
		Pokud je uživatel admin, není třeba vyplňovat práva zobrazení.
	{else}
		Tohoto uživatele nelze upravit
	{/if}
{else}
	Takový uživatel neexistuje
{/if}