{block title}Informace o uživateli{/block}

{block content}

<h1>Informace o uživateli</h1>

<h3>Osobní údaje</h3>

{if $searchedUser !== NULL}

Jméno: {$searchedUser->name}<br />
E-mail: {$searchedUser->email}<br />

<h3>Přihlášení</h3>
	{if count($searchedUser->logins) > 0}
		<table class="info">
			<tr>
				<th>Datum</th>
				<th>IP adresa</th>
			</tr>
		{foreach $searchedUser->logins as $login}
			<tr>
				<td>{$login->date|date: "j.n.Y - H:i:s"}</td>
				<td>{$login->ip}</td>
			</tr>
		{/foreach}
		</table>
	{else}
		Tento uživatel se ještě nepřihlásil.
	{/if}
{else}
	Takový uživatel neexistuje
{/if}