{block title}Seznam uživatelů{/block}

{block content}

<h1>Seznam uživatelů</h1>

<table class="info" style="margin: 0 auto;">
	<tr>
		<th width="200">Uživatel</th>
		<th width="200">Oprávnění</th>
		<th width="200">Skrytý</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	{foreach $users as $userDb}
	<tr>
		<td>{$userDb->name}</td>
		<td>{$userDb->isAdmin() ? "Admin" : "Uživatel"}</td>
		<td>{$userDb->isHidden() ? "Ano" : "Ne"}</td>
		<td>
			<a n:href="Admin:userInfo $userDb->id">informace</a>
		</td>
		<td>
			{if !$userDb->isRoot()}
				<a n:href="Admin:editUser $userDb->id">upravit</a>
			{/if}
		</td>
		<td>
		{if $userEntity !== $userDb && !$userDb->isRoot()}
			<a n:href="deleteUser! $userDb->id">smazat</a>
		{/if}
		</td>
	</tr>
	{/foreach}
</table>

{/block}