{block title}Tipy a triky ke hře{/block}

{block content}

<h1>Tipy a triky ke hře</h1>

<div class="hints">	
	<h4><a href="javascript:toggleHint('training');">Výcvik a atributy</a></h4>
	<div id="hint_training" class="hidden">
		<p>
			Celý návod na <a href="http://board.cz.gladiatus.gameforge.com/index.php?page=Thread&postID=253148#post253148" target="_blank">Fóru hry</a>.
		</p>
		<p>
			Obecně platí, že:
			<ul>
				<li>Charisma je nejdůležitější atribut na vyšší úrovni. Díky dvojitým zásahům lze způsobit mnohem víc poškození</li>
				<li>K tomu je důležitá dovednost (šance na zásah) a obratnost (šance na úhyb, je o dost levnější)</li>
				<li>Síla je moc drahá a za 10 bodů přidá jen 1 poškození, takže je téměř zbytečná a nevyužitelná</li>
				<li>Odolnost přidává životy a zrychluje regeneraci, ale cvičí se obvykle s inteligencí nejmíň, protože hodně životů není třeba</li>
				<li>Inteligence zvyšuje léčení (to je jen do bludiště!) a zvyšuje uzdravené životy za jídlo. Téměř nepoužitelná, nemá smysl ji moc cvičit (a to ani do bludiště, tam léčení přidají itemy)</li>
			</ul>
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('dungeon');">Bludiště</a></h4>
	<div id="hint_dungeon" class="hidden">
		<p>
			Bludiště patří mezi nejziskovější aktivity ve hře. V bludišti jsou příšery mnohem silnější než hráč, je proto sestavit skupinu žoldáků.<br />
			Hlavní příjem zlata je pomocí předmětů, které z příšer padají. Platí, že čím blíž je hráč k úrovni příšery, tím je menší šance na zisk příšery. Pro příklad:<br />
			Hráč úrovně 30 dělá bludiště úrovně 30. Předmět mu spadne tak na 50%. Se zvyšující se úrovní bude procentuální šance klesat a např. na úrovni 38 mu spadne průměrně 1x ze 4 útoků.<br />
			Pokud by ale hráč dělal bludiště úrovně 35 nebo 40 (stále na úrovni 30), je šance na zisk předmětu kolem 90%.<br />
			Důvodem, proč z bludiště je obvykle největší zisk zlata, je ten, že za souboj s příšerou hráč dostane jen minimum zkušenostních bodů. Hráč pak při troše štěstí může za 1-2 zkušenostní body získat předmět v hodnotě 6000 (např. amulet), což je výhodnější než klasická výprava.<br />
			Výhodou hraní jen na bludiště je hodně zlata na úroveň => dobrý výcvik hráče.<br />
			Nevýhodou je příliš pomalé expování, což nemusí být žádoucí pro gildu, pokud je hráč na velmi nízké úrovni. Také je pak hra relativně nudná, když hráč dělá několik měsíců jedno bludiště.<br /><br />
			
			Maximální úroveň bludiště, do kterého může hráč vstoupit, je o 10 vyšší, než úroveň hráče. Znamená to, že hráč úrovně 30 může dělat maximálně bludiště s úrovní 40.<br /><br />
			
			Další velmi výhodná věc bludiště je, že ho lze kdykoliv resetovat. Je proto dobré dělat co nejvyšší bludiště, i přes to, že hráč neporazí bosse. Důvod je, že z příšer získá předměty s vyšší hodnotou, a vydělá si tak víc.<br />
			Z bosse padají předměty s minimálně modrou kvalitou (ale jelikož jsou to stejně obvykle blbosti, je lepší tahat zlato z předmětů od příšer, než za každou cenu porazit bosse).
		</p>
		<p>
			Celý návod na <a href="http://board.cz.gladiatus.gameforge.com/index.php?page=Thread&postID=253062#post253062" target="_blank">Fóru hry</a>.
		</p>
		<p>
			Sestava žoldáků bývá ve většině případů taková:
			<ul>
				<li>Váš účet = léčitel. Dávat mu <b>pouze věci na léčení</b>, ostatní je mu k ničemu. Jeho cílem je léčit obránce, aby co nejdéle vydržel. Úkol je nastaven na "Uzdrav členy družiny".</li>
				<li>
					1x obránce. Tomu dávat <b>pouze charisma, obratnost a pokud zbydou itemy, tak blokování</b>.<br />
					Charisma, aby na něj nebyly dvojité útoky a obratnost kvůli úhybu.<br />
					Blokování se se zvyšující úrovní snižuje, takže se na vyšších procentech špatně udržuje, proto je důležitější dát mu na max. obratnost. <br />
					Samotného žoldáka samozřejmě volit tak, aby měl co nejvyšší obratnost a charisma v základu. <br />
					Jeho cílem je schytávat rány a co nejdéle se udržet (pro to obratnost a charisma). Musí přežít do doby, dokud útočníci nezabijí příšeru. <br />
					Úkol je nastaven na "Přitáhni na sebe pozornost".
				</li>
				<li>
					3x útočník. Pro tyto žoldáky je důležité <b>pouze poškození (+ kritické) a dovednost</b>. Ostatní atributy jako obratnost je mu k ničemu - na schytávání ran je tu obránce. <br />
					Útočník má jediný cíl, a to zabít příšeru dřív, než ona zabije obránce a ostatní členy družiny. Itemy proto volte tak, aby přidávaly hlavně poškození a aby měl dovednost na max. <br />
					Samotný žoldák aby měl co nejvyšší dovednost v základu. <br />
					Úkol je nastaven na "Rozdávej rány".
				</li>
			</ul>
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('forge');">Kovárna</a></h4>
	<div id="hint_forge" class="hidden">
		
		<ol>
			<li>
				najdi nebo kup svitek !<br />
				Jsou dva druhy predpona a přípona <br />
				příklad první druh- ichorovo, luciovo, trafanovo, gaiovo, kerramasovo, decimovo, antoniovo, taletovo - tyhle maji asi smysl <br />
				druhý druh- ohně, země, rychlosti, kouzel, slunce, nebes, rozkoše, síly, lásky- tech je více dobrých :)  <br />
				Pokud chceš použít svitek- který ti po aplikaci zůstane na stálo- tak ho prostě sežer :)) 
			</li>
			<li>
				Potřebuješ suroviny - tušim, že je jich 52 druhů, obchodníci se v základních hodně činí na trhu :) pro ty lepší, jako je síra, konopí a tak , je potřeba tavit věci (kovárna- kolonka tavírna).<br />
				Vložíš věc a za poplatek ji necháš rozložit- vybírej tak, aby jsi za odměnu měl teoretickou šanci dostat to co potřebuješ- příklad na trafanovo veci potrebujes hodne siry, takze tav trafanovu vec a dostanes snad siru :)  
			</li>
			<li>
				Jdeme kovat, zadej si věc co chceš vyrobit- dej si pozor, základní kyj má menší poškození, než pokročilejší názvy zbraní :) Pokud chceš vyrobit příklat trafana rychlosti, tak zvol trafanovo ,,čepička,, rychlosti a ukáže se ti, co vše na to musíš sehnat :)<br />
				suroviny můžeš vkládat postupně, aspon ti nestraší v zásilkách, nebo nezabírají inventár. Po nasbírání surovin dáš jen ukovat a čekáš :)  
			</li>
			<li>
				ovlivnění kování věcma- rubínáci mají svůj obchod ale pro normální hráče- čím více modrých surovin dáš, tím větší sance na vyrobení modré zbraně je. čím větší level surovin dáváš, tím se zvedají procenta na šanci vyrobení - případně duševního pouta! Takže i suroviny vybírej opatrně :)<br />
				Má to větší šanci než magus ale kdo má svůlu v životě, vyrobí stejnak EE! <br />
				více k tomu zatím nedokážu napsat, neb sám víc poznatků nemám 
			</li>
		</ol>
		
		<br /><br />
		<i>&copy; kockis [FaAg]</i>
	</div>
	
	<h4><a href="javascript:toggleHint('npcsTable');">Přehled vstupů do bludiště a na výpravy</a></h4>
	<div id="hint_npcsTable" class="hidden">
		<img src="{$basePath}/images/npcsTable.gif" />
	</div>
	
	<h4><a href="javascript:toggleHint('goldSaving');">Ukládání zlata</a></h4>
	<div id="hint_goldSaving" class="hidden">
		<p>
			Nejefektivnější způsob při hospodaření se zlatem je následující:
			<ol>
				<li>Udělat si zásobu šperků (prstenů a amuletu) či svitků - mají vysokou hodnotu a zabírají jen jedno políčko v inventáři</li>
				<li>Po každém obnovení zboží u obchodníků ukládací věci prodat a nechat si uložit (nebo procvičit apod.). Důležité je, aby si hráč řekl o uložení <b>dříve, než prodá šperky</b> (aby předešel okradení).</li>
				<li>Během dne šperky vykupovat zpět</li>
			</ol>
		</p>
		<p>
			Tímto postupem se zabrání tomu, aby u sebe měl hrát větší obnos zlata a je v podstatě nemožné z takového hráče něco získat. Pro největší efektivitu je dobré mít i šperky s nižší hodnotou (třeba 4000), aby hráč nemusel šetřit 20k, než bude moct něco koupit zpět. Platí, že čím nižší hodnoty šperků, tím méně bude mít hráč zlata u sebe. Na druhou stranu ale počet šperků vzroste a hráč musí vykupovat častěji.
		</p>
		<p>
			<b>Postup při ukládní zlata</b><br />
			Modelová situace: Budu chtít uložit 200k. Napíšu gildovní zprávu, že potřebuji uložit 200k. Někdo z členů napíše GT (zkratka pro gildovní trh) a hodí nějaký předmět. Hráč má právo si přičíst poplatek, takže může předmět hodit za 204k, kde 4k = poplatek na trh.<br />
			Já ten předmět koupím a vrátím za danou cenu zpět (za 200k). Druhý hráč to pak koupí zpět a já dostanu zlato do zásilky, kde mi vydrží týden (s určitým kostýmem 9 dní).
		</p>
		<p>
			<b>Ukládací šperky v aukci</b><br />
			Všechny předměty v aukci, u kterých se cena za rubíny pohybuje okolo 40 a výš, mají stejnou základní cenu jako hodnotu (tzn. když předmět vyhrajete za základní cenu, za stejnou cenu ho prodáte). Lze si tak udělat zásoby i pomocí aukce, kde je ovšem riziko, že někdo hráče přehodí. Je proto dobré vybírat si šperky, o které zájem být nemůže (špatné atributy). Ani zde ale není jistá šance zisku, protože existují hráči, kteří ukládací šperky přehazují pro zábavu.
		</p>
	</div>
	
	
	<h4><a href="javascript:toggleHint('itemsQuality');">Kvalita předmětů</a></h4>
	<div id="hint_itemsQuality" class="hidden">
		<p>
			Předměty se rozdělují na 4 základní kvality:
			<ul>
				<li>Zelená - klasická kvalita předmětu bez bonusů</li>
				<li>Modrá - o 10% více atributů než zelená (začíná od cca lvl 5)</li>
				<li>Růžová - o 30% více atributů než zelená (začíná od cca lvl 30)</li>
				<li>Oranžová - o 50% více atributů než zelená (začíná od cca lvl 80)</li>
				<li>Červená - předmět s takovou kvalitou ještě nikdo nedostal. Z bossů nepadají, tak asi jediná šance, jak ho získat, je z kovárny.</li>
			</ul>
		</p>
	</div>
	
	
	<h4><a href="javascript:toggleHint('guildRecipes');">Gildovní recepty</a></h4>
	<div id="hint_guildRecipes" class="hidden">
		<p>
			Recepty se vkládají do knihovny a po aktivaci přidají na 4 hodiny určitý počet atributu všem hráčům v gildě. Počet atributu a cena za aktivaci se odvíjí dle úrovně receptu.<br />
			Se zvyšující se úrovní receptu razantně roste cena za aktivaci. Recepty, které přidávají 3 a více atributu, jsou v podstatě nevyužitelné, protože aktivace stojí příliš mnoho zlata na to, aby se to vyplatilo.<br />
			Do knihovny se obvykle dávají jen kvůli úspěchům.
		</p>
	</div>
	
	
	<h4><a href="javascript:toggleHint('goldFromArena');">Zisk zlata v aréně</a></h4>
	<div id="hint_goldFromArena" class="hidden">
		<p>
			V aréně hráč získává zlato a zkušenosti jen od hráče s určitou nižší úrovní. Čím nižší je úroveň soupeře, tím je nižší zisk zlata.<br />
			Pokud jsou si hráči úrovní vyrovnaní, je zisk cca 15%. Zkušenostních bodů hráč získá náhodně 1-3.
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('familia');">Familia</a></h4>
	<div id="hint_familia" class="hidden">
		<p>
			Ve Familii vidí hráč status aktivity (ne přesný čas, ale barvu). Je proto celkem nesmysl mít v přátelích hráče z gildy, protože stejný status vidí i v přehledu členů.<br />
			Maximální počet hráčů ve Familii je 20.
		</p>
		<p>
			Odkazy na hráče, kteří jsou ve Familii, se zbarví na zeleno. Také je vidět jejich jméno v aukci.
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('auction');">Aukce</a></h4>
	<div id="hint_auction" class="hidden">
		<p>
			V aukci má hráč možnost získat předměty s takovou úrovní, které neuvidí na trhu a u obchodníků pouze za rubíny.<br />
			Doba aukce se stanovuje na 5 časových úseků:
			<ul>
				<li>Velmi dlouhá</li>
				<li>Dlouhá</li>
				<li>Střední</li>
				<li>Krátká</li>
				<li>Velmi krátká</li>
			</ul>
		</p>
		<p>
			Přesné časy pro jednotlivé doby nejsou určeny. Velmi krátká aukce trvá 5-12 minut a v normální aukci (ne pro žoldáky) <b>končí vždy 16. sekundou v minutě</b>. Znamená to, že pokud aukce trvá maximálně 12 minut a končí minimálně 5. minutou, může pak hráč nahodit maximálně 7x. To proto, že interval, kdy může aukce skončit, je 7 minut (5-12 od začátku), a aukce končí 16. sekundou, takže hráči stačí za jednu minutu nahodit pouze 1x, a to třeba v 10. sekundě v dané minutě.
		</p>
		<p>
			Obvykle nemá smysl nahazovat dříve než ve Velmi krátké době (kromě ukládacích šperků). Výjimku tvoří aukce v noci, kdy hraje minimum hráčů.
		</p>
		<p>
			V aukci pro žoldáky se objevují převážně předměty s blokováním, ohrožením a léčením. Čas od času se hodí podívat i na zbraně, kdy na nižších úrovních může padnout dobrý prefix (třeba Rayolovo + s modrou kvalitou).
		</p>
		<p>
			Při vykoupení předmětu za rubíny dostane hráč předmět ihned do zásilky a originál v aukci zůstane. Je proto možné jich za rubíny koupit neomezené množství + originál vyhrát za zlato.
		</p>
		<p>
			Maximální viditelnost předmětu je úroveň hráče * 1.25 + 6 (maximálně o 14 výš), s paktem ještě +2.
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('market');">Tržiště</a></h4>
	<div id="hint_market" class="hidden">
		<p>
			Na tržišti lze prodávat předměty na 2, 8 a 24 hodin. Za každou dobu se platí určitá částka za vložení, a to přesně:
			<ul>
				<li>2 hodiny - 2% částky</li>
				<li>8 hodin - 3% částky</li>
				<li>24 hodin - 4% částky</li>
			</ul>
		</p>
		<p>
			Maximální viditelnost předmětu je úroveň hráče * 1.25 (maximálně o 9 výš), s paktem ještě +2.
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('magus');">Magus Hermeticus</a></h4>
	<div id="hint_magus" class="hidden">
		<p>
			U Maguse lze vylepšovat kvalitu předmětů maximálně na růžovou. Za zlato lze vytvořit šanci maximálně 25%, s rubíny 75% (což dohromady činí 100% úspěšnost).<br />
			S vyšší úrovní předmětu a kvalitě roste cena za vylepšení. Také jsou určité typy předmětu dražší než jiné (např. rukavice jsou levné, amulety nejdražší).
		</p>
		<p>
			Obvykle nemá smysl vylepšovat předměty na nízké úrovni, protože hráč rychle dělá úrovně a za chvíli danou věc vymění za jinou (a akorát zbytečně vyhodí hodně peněz za vylepšení).<br />
			Vylepšovat má teda obvykle smysl u:
			<ul>
				<li>Zbraně - když hráč najde lepší, může starou (vylepšenou) hodit na žoldáka</li>
				<li>Vybavení na vysoké úrovni - tam nehrozí, že by hráč během několika dní našel něco lepšího. Týká se to obvykle předmětů s prefixem typu Luciovo, Antoniovo, Gaiovo, Ichoruovo</li>
			</ul>
		</p>
		<p>
			<b>Teoretické zvýšení šance</b><br />
			Sežeňte si předmět s co nejnižší úrovní (aby jeho cena za vylepšení byla co nejnižší, nejlépe třeba rukavice úrovně 10) a dejte je třeba 4x nechat vylepšit za 25%.<br />
			Pokud ani jedno vylepšení nevyjde, dejte tam předmět, který chcete vylepšit. Zde nastává spekulace - je šance na vylepšení opravdu vyšší?<br />
			Šance 25% se počítá na každé vylepšení zvlášť. Je proto jedno, kolik předmětů předtím vylepšíte - na každé vylepšení je pořád 25% úspěšnost.<br />
			Obvykle ale platí, že když se s 25% úspěšností (tj. 1/4) akce nepovede ani jednou ze 4, je pak teoreticky větší šance, že se to na pátý/šestý pokus již povede. Díky tomu hráč utratí pár tisíc za předmět úrovně 10 a potom jen málokrát vysokou částku za drahý předmět, který chce vylepšit.<br />
			Je to ale pouze domněnka, hodně lidí by argumentovalo pro i proti.
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('mysteryBox');">Truhla</a></h4>
	<div id="hint_mysteryBox" class="hidden">
		<p>
			Z truhly se dá vytočit určitý bonus, který normálně stojí rubíny (např. pakty, jednodenní centurion, pracovní oděvy, přesýpací hodiny atd.).
		</p>
		<p>
			Truhlu si může hráč koupit za rubíny, nebo lze 1x za den získat díky výhrám v aréně.<br />
			Pokud hráč nechce expy, ale chce získat truhlu, může útočit na neaktivní hráče do 10. úrovně, ze kterých zkušenosti mít nebude (navíc tam neplatí pravidlo level bashingu a neaktivní hráč nikoho nenahlásí).
		</p>
	</div>
	
	<h4><a href="javascript:toggleHint('maleficaItems');">Předměty od Maleficy</a></h4>
	<div id="hint_maleficaItems" class="hidden">
		<p>
			Předměty od Maleficy slouží pro určité bonusy do kovárny. Lze je koupit pouze za rubíny, jejich hodnota je 0 a jsou vždy úrovně 1 (vzácně je lze získat i na výpravě).<br />
			Dělí se na tři kvality:
			<ul>
				<li>Bronzová</li>
				<li>Stříbrná</li>
				<li>Zlatá</li>
			</ul>
		</p>
		<p>
			Předměty typu čtyřlístek nebo kovadlina kvality mají velkou prodejní cenu na trhu (cca 100k za bronzovou, za lepší kvality víc). Naopak nejméně se prodává kladivo razance.
		</p>
	</div>
</div>


<script type="text/javascript">

var lastHint = null;

function toggleHint(name)
{
	var el = document.getElementById("hint_" + name);
	var className = "";
	
	if (lastHint != null) {
		if (lastHint == name) {
			 var className = el.className == "" ? "hidden" : "";
		} else {
			document.getElementById("hint_" + lastHint).className = "hidden";
		}
	}
	
	el.className = className;
	lastHint = name;
}

</script>

{/block}