{block title}Kontakt{/block}

{block content}

<h1>Kontakt</h1>

Zde můžeš kontaktovat uživatele pomocí e-mailu.<br />
Předmět zprávy bude v tomto tvaru: &nbsp;&nbsp;&nbsp; Asijská restaurace ({$userEntity->name})
<br /><br />

{control contactForm}

{/block}