{block title}Pravidla{/block}

{block content}

<h1>Pravidla</h1>

<h3>Aktivita</h3>
<p>
	Pokud hráč ví nebo si myslí, že tu nebude, ať to napíše (do Vox Logus i gildovní zprávou).<br />
	Daný hráč je pak po celou dobu omluven a nebude vyhozen. V jiném případě se hráč vymění ihned, když nebude jiné místo, ale bude zájemce. 
</p>

<h3>Stavby</h3>
<p>
	<b>Postup při plánu stavby:</b>
	<ul>
		<li>Každý plán na povinnou stavbu je minimálně týden před datem stavby vytvořen na webu (zobrazí se nad menu)</li>
		<li>Pokud jsou určené povinné příspěvky na úrovně, výše poplatku se každému hráči zobrazí v detailu plánu</li>
		<li>Povinností každého hráče je v plánu stavby napsat, kolik má našetřeno (může to být aktuálně nebo odhad k datu stavby, částka se dá kdykoliv upravit)</li>
		<li>Pokud není dovoleno jinak, příspěvky se začnou dávat až v domluvený čas, ne dřív</li>
		<li>V případě nemožnosti zúčastnit se stavby v daný čas, je hráč povinen to ohlásit, po domluvě příspěvek dřív zaplatit lze</li>
		<li>Pokud je stavba postavena dříve, než některý z hráčů stačí přispět, je povinností daného hráče přispět dle domluvy i po stavbě</li>
	</ul>
</p>
<p>
	Povinností každého hráče je v případě povinné stavby <b>našetřit více peněz, než je jeho vklad</b>. Je to kvůli rezervě, kdyby někdo nemohl přispět, nebo prostě nějaké zlato chybělo.
</p>
<p>
	Každý hráč má možnost se ze stavby omluvit, pokud v době šetření nebude mít čas (např. práce, škola apod.). Není nutnost, aby tu každý den klikal, ale musí být vidět nějaká snaha. 
</p>

<h3>Odchod z gildy</h3>
<p>
	V rámci slušnosti je dobré odchod oznámit gildovní zprávou (nebo alespoň někomu z vedení). Gilda u sebe nikoho nedrží a kdokoliv může kdykoliv odejít!
</p>

<h3>Chování</h3>
<p>
	V gildě jsou zakázané různé nadávky a lži - je lepší vše říct na rovinu. Pokud se někdo nebude chovat slušně, tak bude prostě vyhozen bez ohledu na úroveň a výcvik. Jednou za čas se dá hranice přestoupit, ale ať se to neděje často. 
</p>

<h3>Skladiště</h3>
<p>
	Do skladiště se dává převážně jídlo pro spoluhráče. Neslouží jen jako dočasný odkladový prostor pro jednotlivce.<br />
	Pozor ale na herní pravidla: 
	<ul>
		<li>Z gildovního skladu si může uživatel vzít cizí věc (1 kus) jenom jednou za 7 dní. Jedná se o předměty trvalé hodnoty (např. zbraně, helmy, klenoty, žoldáci, trvalé brousky apod.)</li>
		<li>Spotřební zboží (potraviny a dočasné zlepšení apod.) nesmí přesáhnout 5 kusů za kalendářní den (0:00 – 23:59).</li>
	</ul>
</p>

<h3>Villa Medici</h3>
<p>
	Každý hráč má právo použít doktora jednou za 8 hodin.<br />
	Znamená to, že pokud jich bude volných více, může hráč použít jen jednoho z nich, dalšího až za 8 hodin. Je tedy zakázáno použít více doktorů naráz.
</p>

<h3>Obecně</h3>
<p>
	Každý hráč má právo vyjádřit svůj názor nebo něco navrhnout. 
</p>
<p>
	Každý hráč má povinnost vyjádřit se k důležitému tématu, jako je nábor nového hráče, stavba budovy atp. Pokud hráč nic neřekne, nebude poté jeho názor započítán. Nečtení zpráv se neomlouvá! 
</p>
<p>
	Každý hráč má právo se na cokoliv zeptat. Dá se vyhovět téměř jakékoliv žádosti, pokud je k tomu důvod. Většinou se dá domluvit, proto v případě jakéhokoliv problému napište někomu z vedení. 
</p>

{/block}