{block title}Nastavení{/block}

{block content}

<h1>Nastavení</h1>

<h3>Změna hesla</h3>
{control changePasswordForm}

<h3>Nastavení e-mailu</h3>
{control changeEmailForm}

<h3>Popis</h3>
{control changeDescriptionForm}

<h3>Obecná nastavení</h3>
{control generalSettingsForm}