{block title}Přidat plán stavby{/block}

{block content}

<h1>Přidat plán stavby</h1>

{form createPlanForm}
	<ul class="errors" n:if="$form->hasErrors()">
		<li n:foreach="$form->errors as $error">{$error}</li>
	</ul>

	<table>
		<tr>
			<th>{label building /}</th>
			<td>{input building}</td>
		</tr>
		<tr>
			<th>{label level /}</th>
			<td>{input level}</td>
		</tr>
		<tr>
			<th>{label discount /}</th>
			<td>{input discount}</td>
		</tr>
		<tr>
			<th>{label dateFrom /}</th>
			<td>{input dateFrom}</td>
		</tr>
		<tr>
			<th>{label dateTo /}</th>
			<td>{input dateTo}</td>
		</tr>
		<tr>
			<td>{label comment /}</td>
			<td>{input comment}</td>
		</tr>
		<tr>
			<th>{label optional /}</th>
			<td>{input optional}</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<br />
				<a href="javascript:toggleLevels();">Přidat poplatky pro úrovně</a>
				<div id="levelsArea" class="hidden" style="margin-left:15px;">
					<div id="levels"></div>
					<a href="javascript:addLevelsLine();">Přidat další</a>
				</div>
			</td>
		</tr>
		
		<tr>
			<td></td>
			<td>
				<a href="javascript:$('#informations').toggle();">Nastavit informace pro hráče</a>
				<div id="informations" class="hidden" syle="margin-left:15px;">
					<table>
						<tr>
							<td></td>
							<td>Povinný příspěvek</td>
						</tr>
						{foreach $form["usersInformations"]->containers as $userId => $info}
							<tr>
								<td>
									{$userNames[$userId]}
								</td>
								<td>
									{input usersInformations-$userId-donationRequired}
								</td>
							</tr>	
						{/foreach}
						</table>
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<br />
				{input create}
			</td>
		</tr>
	</table>
{/form}



<br /><br /><br />

Data zadávej ve tvaru d.m.r h:m:s (př. 28.3.2015 15:30)


<script type="text/javascript">

var shown = false;

function toggleLevels()
{
	var el = document.getElementById("levelsArea");
	
	if (el.className == "hidden") {
		el.className = "";
		
		if (!shown) {
			addLevelsLine();
			shown = true;
		}
	} else {
		el.className = "hidden";
	}
}

function addLevelsLine()
{
	var area = document.getElementById("levels");
	var inputFrom = document.createElement("input");
	inputFrom.type = "text";
	inputFrom.size = 3;
	inputFrom.name = "levelsFrom[]";
	
	var inputTo = document.createElement("input");
	inputTo.type = "text";
	inputTo.size = 3;
	inputTo.name = "levelsTo[]";
	
	var inputDonation = document.createElement("input");
	inputDonation.type = "text";
	inputDonation.name = "donations[]";
	
	var span = document.createElement("span");
	span.innerHTML = "úroveň " + inputFrom.outerHTML + " - " + inputTo.outerHTML + " * " + inputDonation.outerHTML + "<br />";
	
	area.appendChild(span);
}

</script>

{/block}
