{block title}Plány staveb{/block}

{block content}

<h1>Plány staveb</h1>

{if count($plans)}
	<table class="info" style="margin: 0 auto;">
		<tr>
			<th width="200">Od</th>
			<th width="200">Detail stavby</th>
			<th width="200">Do</th>
			<th width="200">Dokončeno</th>
		</tr>
	{foreach $plans as $plan}
		<tr>
			<td>
				{$plan->from|date: "d.m.Y - H:i"}
			</td>
			<td>
				<a n:href="BuildingPlan:detail $plan->id"> {$plan->building->key|buildingToString}</a>
			</td>
			<td>
				{$plan->to|date: "d.m.Y - H:i"}
			</td>
			<td>		
				{if $plan->expired()}
					<span class="planFinished">&#10003</span>
				{else}
					<span class="planNotFinished">&#10006</span>
				{/if}
			</td>
		</tr>
	{/foreach}
	</table>
{else}
	Nejsou vytvořené žádné plány staveb
{/if}

{/block}
