{block title}Plán stavby{/block}

{block content}

<h1>Plán stavby</h1>

{if $plan !== NULL}
	<div style="position:relative;">
		<h3>{$plan->building->key|buildingToString}</h3>
		
		{if $plan->expired()}
			<span class="buildingPlanEnded">Plán na stavbu již skončil</span>
			<br />
		{/if}
		{if $plan->optional}
			<span style="color:#008800;">Tato stavba je dobrovolná</span>
			<br /><br />
		{else}
			{if !$userInformations->donationRequired}
				<span style="color:#008800;">Tato stavba pro tebe není povinná</span>
				<br /><br />
			{/if}
		{/if}
		
		Od: {$plan->from->format("d.m.Y H:i")}<br />
		Do: {$plan->to->format("d.m.Y H:i")}<br />
		Cena: {$plan->building->getPrice()|number: 0: "": "."} <img src="{$basePath}/images/gold.gif"><br />
		Sleva: {$plan->building->percentualDiscount}%<br />
		Tvá úroveň: {$userEntity->getLevel()}<br />
		
		Tvůj poplatek: {$usersDonation|number: 0: "": "."} <img src="{$basePath}/images/gold.gif" /><br />
		
		<table>
			<tr>
				{form setSavedGoldForm}
				<td>
					{label sum /}
				</td>
				<td>
					{input sum} {input setSavedGold}
				</td>
				{/form}
			</tr>
			<tr>
				{form setDonationForm}
				<td>
					{label amount /}
				</td>
				<td>
					{input amount} {input setDonation}
				</td>
				{/form}
			</tr>
		</table>

		Celkem našetřeno: <span class="{$isPriceSaved ? 'success' : 'fail'}">{$savedGoldSum|number: 0: "": "."} / {$plan->getBuilding()->getPrice()|number: 0: "": "."}</span> <img src="{$basePath}/images/gold.gif" />
		
		
		{if $plan->comment !== NULL}
			<br /><br />
			
			<b>Komentář:</b><br />
			{!$plan->comment|nl2br}
		{/if}
		
		{if count($plan->getLevelDonations())}
			<div class="donationsPerLevelsArea">
				<table class="info">
					<tr>
						<th>Úroveň</th>
						<th>Poplatek (násobek úrovně)</th>
					</tr>
				{foreach $plan->getLevelDonations() as $data}
					<tr{if $data->levelFrom <= $userEntity->getLevel() && $data->levelTo >= $userEntity->getLevel()} class="rowHighlight"{/if}>
						<td>{$data->levelFrom} - {$data->levelTo}</td>
						<td>{$data->donation|number: 0: "": " "}</td>
					</tr>
				{/foreach}
				</table>
			</div>
		{/if}
		
		{if count($plan->getDonations())}
			<h3>Příspěvky</h3>
			<table class="info">
				<tr>
					<th width="200">Hráč</th>
					<th width="200">Příspěvek</th>
				</tr>
			{foreach $plan->getDonations() as $donation}
				<tr>
					<td>{$donation->user->name}</td>
					<td>{$donation->amount|number: 0: "": "."} <img src="{$basePath}/images/gold.gif"></td>
				</tr>
			{/foreach}
			</table>
		{/if}
		
		<h3>Našetřeno</h3>
		<table class="info">
			<tr>
				<th width="200">Hráč</th>
				<th width="200">Našetřeno</th>
			</tr>
		{foreach $usersInformations as $info}		
			<tr>
				<td>{$info->user->name}</td>
				<td>{$info->savedGold|number: 0: "": "."} <img src="{$basePath}/images/gold.gif"></td>
			</tr>
		{/foreach}
		</table>
		
		{if $userEntity->isAdmin()}
			<br /><br />
			<a n:href="BuildingPlan:edit $plan->id">Editovat</a><br />
			<a n:href="BuildingPlan:addDonationInfo $plan->id">Nastavit informace o příspěvcích</a><br />
			
			{if $userEntity->isRoot()}
				<a n:href="BuildingPlan:visits $plan->id">Zobrazení uživatelů</a><br />
			{/if}
			
			<a n:href="deletePlan! $plan->id">Smazat</a>
		{/if}
		
		
	</div>
{else}
	Takový plán stavby neexistuje
{/if}

{/block}
