{block title}Zobrazení uživatelů{/block}

{block content}

<h1>Zobrazení uživatelů</h1>

<div class="buildingPlanUsersVisits">
	{if !empty($visitsAll)}
		<table class="info">
			<tr>
				<th>Uživatel</th>
				<th>Datum</th>
			</tr>
			{foreach $visitsAll as $visit}
				<tr>
					<td>{$visit->user->name}</td>
					<td>{$visit->date|date: "d.m.Y - H:i:s"}</td>
				</tr>
			{/foreach}
		</table>
	{else}
		 Žádný uživatel tento plán stavby nezobrazil
	{/if}
</div>


<h3>Uživatelé, kteří si plán nezobrazili</h3>

{if !empty($noUsersVisit)}
	{foreach $noUsersVisit as $userName}
		{$userName}<br />
	{/foreach}
{else}
	Všichni uživatelé plán zobrazili.
{/if}

{/block}
