html {
	background: rgba(254,254,254,1);
	background: -moz-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(247,244,247,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(247,244,247,1)));
	background: -webkit-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(247,244,247,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(247,244,247,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(254,254,254,1) 0%, rgba(247,244,247,1) 100%);
	background: linear-gradient(135deg, rgba(254,254,254,1) 0%, rgba(247,244,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f4f7', GradientType=1 );
	
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	cursor: default;
}

div.flash {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
	color: #ddd;
	background-color: #222;
	border-bottom: 2px solid #666;
	padding: 1em;
	box-shadow: 0 0 12px 8px #000;
}

div.flash:hover {
	background-color: #282828;
}

div.flash .close {
	float: right;
	margin-right: 30px;
}

div.flash .close a {
	color: #ddd;
	text-decoration: none;
	padding: 10px;
}

div.flash .close a:hover {
	background-color: #444;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

#wrapper {
	position: relative;
	min-height: 100%;
}


#header {
	top: 0;
	width: 100%;
	background-color: #000;
	color: #eee;
	text-align: center;
	border-bottom: 4px solid #888;
}

#header h1 {
	font-size: 60px;
	margin: 0;
	padding: 0;
}

#header h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
}

#header a, #footer a {
	color: #ddd;
}

#header a:hover, #footer a:hover {
	color: #eee;
}

#header .heading {
	margin: 0 auto;
	text-align: left;
	padding-top: 10px;
}

#header .heading h2 {
	float: left;
	margin: 0;
	padding-left: 40px;
	font-size: 35px;
}

#header .heading .small {
	font-size: 20px;
}

#header .userInfo {
	float: right;
	padding-top: 10px;
	padding-right: 60px;
}

#header #menu {
	clear: both;
	padding: 8px 5px 2px 5px;
	text-align: center;
	border-bottom: 1px solid #000;
	height: 40px;
	line-height: 50px;
}

#header #menu a {
	padding: 8px 14px;
	text-decoration: none;
}

#header #menu a:hover {
	background-color: #333;
	color: #ddd;
}

#loginBox {
	margin: 30px auto;
	width: 350px;
	min-height: 140px;
	border: 2px solid #000;
	border-radius: 6px;
	padding: 8px;
	text-align: center;
}

#unloggedContent {
	margin: 0 auto;
	padding: 8px;
	width: 900px;
}

#loginBox h2 {
	margin: 2px;
	padding: 0;
}

#loginBox table {
	margin: 0 auto;
}

#loginBox ul {
	list-style-type: none;
}

#content {
	position: relative;
	margin: 30px auto 0 auto;
	padding-bottom: 120px;
	width: 900px;
}

#content h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

#content #notifications {
	position: fixed;
	float: right;
	right: 60px;
	width: 310px;
	z-index: 999;
	height: 75%;
	overflow-y: hidden;
}

.notificationUnread {
	position: relative;
	margin: 3px 0;
	width: 290px;
	padding: 5px;
	min-height: 50px;
	border: 2px solid #a55103;
	background-color: #ffe97f;
}

.notification {
	margin: 3px 0;
	width: 290px;
	padding: 5px;
	min-height: 50px;
	border: 2px solid #000;
}

.notificationHead {	
}

.notificationHead .author {
	font-weight: bold;
}

.notificationHead .date {
	float: right;
}

.notificationBody {
	clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #eee;
    border-top: 3px solid #666;
}

#footer .text {
    margin-top: 10px;
    margin-left: 30px;
}

table.usersList {
	width: 400px;
	text-align: center;
	border: 1px solid #000;
	border-spacing: 0;
}

table.usersList th, table.usersList td {
	border: 1px solid #000;
}

.hidden {
	display: none;
}

#buildingPlansBox {
	position: relative;
	padding-top: 10px;
	float: right;
	text-align: left;
	padding-left: 50px;
	width: 70%;
}

#buildingPlansBox .item {
	margin: 0 5px;
	display: inline-block;
	width: 300px;
	padding: 4px 8px;
	background-color: #eee;
	color: #000;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	box-shadow: 0px 0px 5px 2px #aaa;
}

#buildingPlansBox .item a {
	color: #0000cc;
}

#buildingPlansBox .item a:active {
	color: #cc0000;
}

#buildingPlansBox .item table {
	border-spacing: 0;
	border: 0;
}

#buildingPlansBox .item table th {
	text-align: left;
	width: 40%;
}

#buildingPlansBox .item table td {
	text-align: left;
}

span.required {
	color: #880000;
}

span.optional {
	color: #006600;
}

.small {
	font-size: 14px;
}

.buildingPlanEnded {
	font-weight: bold;
	color: #008800;
}

.planFinished {
	font-weight: bold;
	color: #008800;
}

.planNotFinished {
	font-weight: bold;
	color: #880000;
}

table.planDonations {
	width: 350px;
	border-spacing: 0;
	border-collapse: collapse;
}

table.planDonations th, table.planDonations td {
	text-align: center;
	border: 1px solid #000;
}

h4 {
	margin: 2px;
	padding: 2px;
}

table.votes {
	width: 350px;
	border-spacing: 0;
	border-collapse: collapse;
}

table.votes th, table.votes td {
	text-align: center;
	border: 1px solid #000;
}

.voteAdded {
	color: #008800;
}

.votesList {
	position: absolute;
	top: 0;
	left: 500px;
}

tr.rowHighlight {
	background-color: #cbffc4;
}

.votingComment {
	padding: 5px;
	width: 400px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.votingComment:nth-child(odd) {
	background-color: #eee;
}

.votingComment:nth-child(even) {
	background-color: #ddd;
}

.votingComment:last-child {
	border-bottom: 1px solid #000;
}

.donationsPerLevelsArea {
	position: absolute;
	top: 0;
	left: 500px;
	height: 300px;
	overflow-y: auto;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding-right: 30px;
}

table.donationsPerLevels {
	width: 350px;
	border-spacing: 0;
	border-collapse: collapse;
}

table.donationsPerLevels th, table.donationsPerLevels td {
	text-align: center;
	border: 1px solid #000;
}

.absenceBox {
	position: relative;
	margin: 2px 0;
	width: 400px;
	padding: 4px;
	border: 1px solid #000;
	word-wrap: break-word;
}

.absenceExpired {
	background-color: #cbffc4;
}

.success {
	color: #008800;
}

.fail {
	color: #aa0000;
}


/* tooltip */

.tooltip_text
{
	float:left;
}

.tooltip_value
{
	margin-left:5px;
}

.tooltip_text_details
{
	float:left;
	margin-left:10px;
}

.tooltipEquiped
{
	filter: alpha(opacity = 90); \-moz-opacity: 0.90; opacity: 0.90;
}

.tooltipBox
{
	filter: alpha(opacity = 90); \-moz-opacity: 0.90; opacity: 0.90;
	margin-top: 5px;
    background: black;
    border: 1px solid #999;
    font-family: Tahoma !important;
	
}

.tooltipBox tr {
	padding: 5px 0;
}

.tooltipBox th, .tooltipBox td {
	text-align: left !important;
}

.tooltipBox hr {
	border: 1px solid grey;
}

.tooltipBox a {
	color: #cc0000 !important;
	text-decoration: underline;
}

.tooltipBox a:hover {
	color: #aa0000 !important;
	text-decoration: underline;
}

table.smallPadding {
}

table.smallPadding th, table.smallPadding td {
	padding: 2px !important; 
}

table.info {
	border: 1px solid #000;
	border-spacing: 0;
}

table.info th, table.info td {
	padding: 5px 20px;
	text-align: center;
	border: 1px solid #000;
}

table.info th {
	background-color: #222;
	color: #eee;
}

table.info table {
	border-spacing: 0 !important;
}

table.info table th, table.info table td {
	padding: 2px !important;
}

.tooltipOverviewDiv {
	display: none;
}

.tooltipOverviewDiv table {
	margin: 0 auto !important;
}

span.help {
	border-bottom: 1px dashed #000;
}

h3.itemOffers {
	margin-top: 50px;
}

span.hint {
	font-style: italic;
	font-size: 13px;
}

h3 {
	color: #000066;
	margin: 40px 0 20px 0;
	width: 300px;
	border-bottom: 1px solid #aaa;
}

a.noUnderline {
	text-decoration: none !important;
}

.levelTooHigh {
	color: #cc0000;
}

.buildingPlanUsersVisits {
	width: 100%;
	text-align: center;
	max-height: 600px;
	overflow-y: auto;
}